@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Scrollbar Styles */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* background-color: #131313; */
}

body {
    background-image: url("/MusicProject/Assets/Background/Light-Mode.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(226, 226, 226, 0.774);
}

/* Header Styles */

.main-nav {
    background-color: rgb(255, 226, 226);
    display: flex;
    justify-content: space-around;
}

.nav-logo {
    margin-top: -15px;
}

.nav-logo span {
    font-weight: 700;
    background: linear-gradient(to right, #b37262, #c5946e, #5fc9e8, #61a18e, #5dab62);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    background-clip: text;
    font-size: 18px;
    cursor: pointer;
}

.nav-logo img {
    width: 8%;
    position: relative;
    top: 11px;
    padding: 0px 8px 0px 0px;
    cursor: pointer;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    padding: 20px 10px 0px 0px;
}

.nav-list a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #ff7171;
}

.search-form {
    position: relative;
    bottom: 10px;
}

.search-form input[type="text"] {
    padding: 10px 20px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fafafa;
    color: #000;
    width: 210px;
    transition: width 0.3s ease;
}

.search-form input[type="text"]:focus {
    width: 300px;
}

.search-form button {
    position: absolute;
    right: 22px;
    top: 49%;
    border: none;
    cursor: pointer;
    color: #716666;
    transition: color 0.3s ease;
}

.search-form button:hover {
    color: #ff7171;
}

.search-form button {
    background-color: #fff;
}

/* Switch Button */

.switch-movies {
    position: relative;
    bottom: 8px;
    padding: 7px 6px 7px 11px;
    text-decoration: none;
    background-color: rgba(61, 61, 61, 0.1);
    border-radius: 40px;
    color: #000;
    transition: color 0.3s ease;
}

.switch-movies:hover {
    background-color: rgba(61, 61, 61, 0.035);
    color: #ff7171;
}

.switch-movies i {
    margin-right: 5px;
}

/* switch Mode */

.fa-moon {
    position: relative;
    bottom: 7.4px;
    padding: 10.5px 12.7px;
    background-color: rgba(61, 61, 61, 0.1);
    border-radius: 40px;
    color: #000;
    transition: color 0.3s ease;
    cursor: pointer;
}

.fa-moon:hover {
    background-color: rgba(61, 61, 61, 0.035);
    color: #ff7171;
}

/* Power Off Mode */

.fa-power-off {
    position: relative;
    bottom: 7.4px;
    padding: 10.5px 10.5px;
    background-color: rgba(61, 61, 61, 0.1);
    border-radius: 40px;
    color: #000;
    transition: color 0.3s ease;
    cursor: pointer;
}

.fa-power-off:hover {
    background-color: rgba(61, 61, 61, 0.035);
    color: #ff7171;
}

/* Logout Pop-up */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 170, 170, 0.853);
    align-items: center;
}

.modal-content {
    box-shadow: 0 0px 13px rgb(165, 0, 0);
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
}

.modal-content button {
    margin: 12.5px 5px 0px 5px;
    padding: 7px 14px;
    border: none;
    border-radius: 40px;
    background-color: rgb(225, 9, 9);
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.modal-content button:hover {
    background-color: rgb(121, 0, 0);
}

.blurred-background {
    filter: blur(4px);
}

/* Sidebar Styles */

.sidebar {
    background-color: rgb(226, 214, 214);
    padding: 1px;
    color: #000;
}

.browse-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.browse-list li {
    margin: 10px 0px;
}

.browse-list a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

.browse-list a:hover {
    color: #ff7171;
}

/* Main Content Styles */

main {
    padding: 20px;
}

h1 {
    color: #333;
    margin: 15px 0px 15px 10px;
}

/* Section Styles */

.new-releases,
.recommended-albums,
.top-albums,
.top-artists,
.top-playlists {
    margin: 0px 1.5%;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

.card-container a {
    margin: 5px;
    text-decoration: none;
}

/* Card Styles */

.card {
    background-color: #f3ecec;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card p {
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 4px 8px rgba(204, 44, 44, 0.35);
}

/* Footer Styles */

footer {
    background-color: #ffffff;
    color: rgb(203, 38, 38);
    margin-top: 20px;
    padding: 20px 0px 10px 0px;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo h2 {
    font-weight: 700;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #5fc9e8, #7be8c7, #9effa5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    background-clip: text;
    cursor: pointer;
}

.footer-logo img {
    width: 80px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 35px auto 0 auto;
    cursor: pointer;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #ff7171;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social ul li a {
    color: #000;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-social ul li a:hover {
    color: #ff7171;
}

.footer-subscribe form {
    margin-top: 14px;
    display: flex;
}

.footer-subscribe input[type="email"] {
    padding: 10px;
    border: 1px solid #d2d8d6;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 250px;
}

.footer-subscribe button {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-subscribe button:hover {
    background-color: #c0392b;
}

.footer-bottom {
    background-color: #f5f5f5f3;
    text-align: center;
    padding: 10px 0px;
    font-size: 13.5px;
    color: #000;
}

.footer-bottom a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-bottom a:hover {
    color: #ff7171;
}